body {
	background: #A9CCE3;
	font-size: 12pt;
	font-family: Gerstner Programm Light;
	max-width: 600px;
	margin: 0 auto;
} 
h1 {
	color: rgb(256, 99, 99);
} 
a {
	color: rgb(256, 33, 33);
}
p {
	border-bottom: 1px solid rgb(256, 99, 99);
	padding-bottom: 5px;	
 }
 .last {
 	background: rgb(256, 99, 99);
 }
 .column1 {
 	background: #F08080;
   }	
 .column2 {
 	background: #FA8072;
   }	
  .column3 {
 	background: #E9967A;
   }	
 ul {
 	list-style: square url ("sqpurple.gif");
 	color: black;
  }	